<manifest
    package="vc908.stickerfactory"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="com.android.vending.BILLING"/>


    <application>
        <activity
            android:name=".ui.activity.CollectionsActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ui.activity.ShopWebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>
